################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/bin/Debug
/src/obj
/example/nepali_calendar_picker.maui/obj
/example/nepali_calendar_picker.maui/bin/Debug/net10.0-windows10.0.19041.0/win-x64
/example/bin/Debug/net10.0-android
/example/obj
/example/bin/Debug/net10.0-windows10.0.19041.0/win-x64
/example/bin/Release/net10.0-android
/src/bin/Release
