################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/bin/Debug
/src/obj
/example/nepali_calendar_picker.maui/obj
/example/nepali_calendar_picker.maui/bin/Debug/net10.0-windows10.0.19041.0/win-x64
/example/bin/Debug/net10.0-android
/example/obj
/example/bin/Debug/net10.0-windows10.0.19041.0/win-x64
/example/bin/Release/net10.0-android
/src/bin/Release
/example/bin/Release
/shellpagecal/obj
/example/bin/Debug
/example/avalonia/android/bin
/example/avalonia/android/obj
/example/avalonia/bin
/example/avalonia/browser/obj
/example/avalonia/desktop/bin
/example/avalonia/desktop/obj
/example/avalonia/ios/bin/Release/net10.0-ios/ios-arm64
/example/avalonia/ios/obj
/example/avalonia/obj
/example/maui/bin/Debug
/example/maui/obj
/src/avalonia/bin
/src/avalonia/obj
/src/core/bin
/src/core/obj
/src/maui/bin/Debug
/src/maui/obj
